@model IEnumerable<BigApp.Domain.Entities.Tag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            UpdatedOn
        </th>
        <th>
            Projects
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TagId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TagId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TagId })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedOn)
        </td>
        <td>
			@String.Format("{0:g}", item.UpdatedOn)
        </td>
        <td>
			@(item.Projects == null ? "None" : item.Projects.Count.ToString())
        </td>
    </tr>
}

</table>


