@model BigApp.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Url</div>
    <div class="display-field">@Model.Url</div>

    <div class="display-label">CreatedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreatedOn)</div>

    <div class="display-label">UpdatedOn</div>
    <div class="display-field">@String.Format("{0:g}", Model.UpdatedOn)</div>

    <div class="display-label">isFeatured</div>
    <div class="display-field">@Model.isFeatured</div>

    <div class="display-label">isDisabled</div>
    <div class="display-field">@Model.isDisabled</div>

    <div class="display-label">Group</div>
    <div class="display-field">@(Model.Group == null ? "None" : Model.Group.Name)</div>

    <div class="display-label">Tags</div>
    <div class="display-field">@(Model.Tags == null ? "None" : Model.Tags.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


